@model CommonClass.ViewModel.ViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin:0px;padding:0px;">
    <table class="table table-responsive table-bordered table-hover" style="font-size:12px;margin:0px;padding:0px;">
        <thead style="background-color: forestgreen;">
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Action</th>
        </thead>
        <tbody>

            @foreach (var item in Model.UserAccountList)
            {
                @Html.HiddenFor(modelItem => item.UserId)
                <tr class="table-hover">
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>

                    <td>
                        <a href="@Url.Action("EditAccount",new { id = item.UserId })">Edit</a>
                        <a href="@Url.Action("Delete",new { id = item.UserId })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br />
    <label class="text-danger">@ViewBag.DeleteError</label>
</div>
